*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    width: 100vw;
    
    position: relative;
    
}
.site-header{
   
    height: 6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    
}
.site-nav{
    flex-grow: 1;
}
.site-logo{
width: 10%;
height: 70%;


}
.logo-text{
    position: relative;
    
    font-size: large;
    color: maroon;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.site-nav{
    display: flex;
    justify-content: space-evenly;

   
    margin-left: 2rem;
    flex-wrap: nowrap;
}
.site-nav div a{
    text-decoration: none;
    color: maroon;
}
.site-nav div a:hover{
    
    width: 3rem;
    height: 1rem;
    
    position: relative;
    color: rgb(214, 185, 185);
    /*border-bottom: 3px solid antiquewhite;
    border-top: 3px solid antiquewhite;
    padding: .5rem 0;*/
}
.search-field{
    width: 60vw;
    height: 2rem;
    border-radius: 12px;
    outline: none;
    border: 1px solid maroon;
   margin: 1rem 0 1rem 10rem;
   padding-left: 1rem;
}
.fa-magnifying-glass{
    position: relative;
    left: 69%;
    top: 2px;
    color: maroon;
    
}
/*generated content */
.content-container{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.articles-container{
    background-color: rgb(245, 242, 241);
    width: 10rem;
    height: max-content;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 32%;
    box-shadow: 1px 1px 30px 2px rgb(194, 190, 190);
    border-radius: 12px;
}
.articles-container:hover{
    transform: scale(1.05);
    transition: all .5s ease;
}
.image-container{
    width: auto;
    height: 12rem;
   
}
.title-container, .description, .author-container, .source-container{
    padding-left: 7px;
}
.title-container{
    color: rgb(184, 95, 11);
    margin: 4px;
    font-size: large;
}
.description{
    color: rgb(95, 70, 49);
    margin: 4px;
    word-wrap: break-word;
    font-size: small;
    font-family:    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.author-container{
    margin-top: 2px;
    font-size: smaller;
    color: rgb(117, 112, 112);
}
.source-container{
    color: grey;
    margin-top: 4px;
    font-size: smaller;
}
.time-container{
    font-size: smaller;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: rgb(76, 87, 67);
}
.link-text{
    background-color: rgba(243, 207, 207, 0.849);
    width: fit-content;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 6px 4px;
    color: rgb(63, 45, 38);
    border-radius: 6px;
    margin-left: 7px;
}
.link-text:hover{
    text-decoration: underline;
}


.latest-news{
    background-color: brown;
    width: fit-content;
    margin-left: 6rem;
    padding: .5rem;
    color: antiquewhite;
    margin-bottom: 2rem;

}

/*next and previous buttons*/
.nav-button{
    margin-left: 40%;
    margin-top: 6rem;
}
.next-button, .previous-button{
  
    border: 2px solid brown;
    width: fit-content;
    border-radius: 8px;
    padding: 8px;
    cursor: default;
    transition: all .3s ease;
    margin-left: 1rem;
    
}
.fa-arrow-left-long{
    margin-right: 3px;
}
.previous-button, .next-button{
    display: none;
}
.next-button:hover, .previous-button:hover{
    background-color: rgb(189, 85, 85);
    color: antiquewhite;
    transition: all .3s ease;
}

/*site footer*/
.site-footer{
    margin-top: 4rem;
    height: calc(100% - 40%);
    width: 100%;
   column-gap: 1rem;
    display: flex;
    position: relative;
    background-color: brown;
}
.site-notes, .quick-links, .connect-us{

height: 100%;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

padding: 1rem;
position: relative;
}

.footer-hr{
    width: 80%;
    height: .1rem;
    
    background-color: rgb(221, 114, 114);
}
.footer-header{
    margin-bottom: 5px;
    color: white;
}
.quick-links-items{
    margin-top: 1rem;
}
.quick-links-items a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
   
}
.quick-links-items a:hover{
    text-decoration: underline;
    text-decoration-color: white; 
}
.fa-brands{
    color: white;
    font-size: large;
    margin-left: 3px;
}
.brands-icons{
    margin-top: 1rem;
}
p.text{
    margin-top: 1rem;
    color: rgb(241, 237, 231);
    font-size: small;
}
/*entertainment styles*/
.page-header{
    background-color: brown;
    width: fit-content;
    color: whitesmoke;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 8px;
}

.search-results{
  margin-left: 20%;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 3px 6px;
    margin-left: 35%;
    
    font-weight: 600;
}


