:root {
    --primary-color: maroon;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    position: relative;
    padding: 0 5px;
}

.site-header {
    display: flex;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

.desktop-nav {
    display: none;
}

.mobile-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-magnifying-glass {
    color: var(--primary-color);
    font-size: x-large;
}

.bars-box {
    margin-left: 5%;
}

.fa-bars {
    font-size: xx-large;
    color: var(--primary-color);
}

.logo-text {
    width: fit-content;
    margin-left: 10%;
    text-align: center;
    font-size: xx-large;
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-icon-box {
    margin-left: 19%;
}

.mobile-search-box {
    display: none;
    position: relative;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    border: 0.5px solid var(--primary-color);
}

.show-mobile-search {
    display: flex;
}

.mobile-search {
    width: 90%;
    height: 1.5rem;
    padding-left: 1rem;
    outline: none;
    line-height: 100%;
    border: none;
    color: var(--primary-color);
}

.fa-arrow-right {
    font-size: large;
    display: inline-block;
    height: 100%;
    padding: 3px 4px;
    margin-left: auto;
    color: white;
    background-color: var(--primary-color);
}

.page-title {
    margin-top: 1.5rem;
    padding: 3px 5px;
    text-align: center;
    background-color: brown;
    width: fit-content;
    color: antiquewhite;
    border: .5px solid var(--primary-color);
}


/*generated content */

.content-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.articles-container {
    background-color: rgb(245, 242, 241);
    width: 100%;
    height: max-content;
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 32%;
    box-shadow: 1px 1px 10px 2px rgb(194, 190, 190);
    border-radius: 12px;
}

.articles-container:hover {
    transform: scale(1.05);
    transition: all .5s ease;
}

.image-container {
    width: auto;
    height: 12rem;
}

.title-container,
.description,
.author-container,
.source-container {
    padding-left: 7px;
}

.title-container {
    color: rgb(184, 95, 11);
    margin: 4px;
    font-size: large;
}

.description {
    color: rgb(95, 70, 49);
    margin: 4px;
    word-wrap: break-word;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author-container {
    margin-top: 2px;
    font-size: smaller;
    color: rgb(117, 112, 112);
}

.source-container {
    color: grey;
    margin-top: 4px;
    font-size: smaller;
}

.time-container {
    font-size: smaller;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: rgb(76, 87, 67);
}

.link-text {
    width: fit-content;
    padding: 5px;
    text-decoration: none;
    margin: 0 0 6px 4px;
    color: var(--primary-color);
    border-radius: 6px;
    margin-left: 7px;
}

.link-text:hover {
    text-decoration: underline;
}


/*next and previous buttons*/

.pagination-buttons {
    width: fit-content;
    margin: 1rem auto;
}

.next-button,
.previous-button {
    border: .5px solid var(--primary-color);
    width: fit-content;
    border-radius: 8px;
    padding: 8px;
    cursor: default;
    transition: all .3s ease;
    margin: 1rem auto;
}

.fa-arrow-left-long {
    margin-right: 3px;
}

.previous-button,
.next-button {
    display: none;
}

.next-button:hover,
.previous-button:hover {
    background-color: rgb(189, 85, 85);
    color: antiquewhite;
    transition: all .3s ease;
}


/*site footer*/

.site-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 4px 4px 8px 6px;
}

.site-notes,
.quick-links,
.connect-us {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 1rem;
}

.quick-links a {
    text-decoration: none;
    color: white;
}

.site-footer .footer-hr {
    margin: .5rem 0;
}

.search-results {
    margin-left: 20%;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 3px 6px;
    margin-left: 35%;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .main-container {}
    .mobile-nav {
        display: none;
    }
    .desktop-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .logo-text {
        margin-left: 0;
    }
    .mobile-search-box {
        display: none;
    }
    .logo-search {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
    }
    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        width: 70%;
        height: 2rem;
        border-radius: 12px;
        border: 1px solid maroon;
        padding-left: 1rem;
        margin-left: 5%;
    }
    .desktop-search-field {
        width: 90%;
        border: none;
        outline: none;
        color: var(--primary-color);
    }
    .fa-magnifying-glass {
        color: maroon;
        margin-left: 3rem;
    }
    .header-links {
        display: flex;
        margin-top: 1rem;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .header-links a {
        color: var(--primary-color);
        text-decoration: none;
        position: relative;
    }
    .header-links a::before {
        position: absolute;
        bottom: -4px;
        content: "";
        height: 3px;
        width: 0;
        border-bottom: 1px solid var(--primary-color);
        -o-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .header-links a:hover::before {
        width: 100%;
        -o-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .header-links a::after {
        position: absolute;
        right: 0;
        content: "";
        height: 3px;
        width: 0;
        border-top: 1px solid var(--primary-color);
        -o-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .header-links a:hover::after {
        width: 100%;
        -o-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .site-footer {
        flex-direction: row;
        justify-content: space-around;
    }
    .quick-links a:hover {
        text-decoration: underline white;
    }
    /** generated content container**/
    .content-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .articles-container {
        flex-basis: 30%;
    }
}
